<!DOCTYPE html>
<html lang="en" ng-app="herald" ng-controller="AppController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Herald - a Puppet report processor</title>

    <meta name="description" content="Herald - a Puppet report processor">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap<%= @minified %>.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme<%= @minified %>.css">
    <link rel="stylesheet" href="css/herald.css">
  </head>
  <body>

    <section class="container-fluid">
      
      <h2><a href="#/"><img src="/img/shield97.svg" />Herald</a> <small>a Puppet report processor</small></h2>

      <div ng-view></div>
      
      <address>
        <hr />
        <p class="text-muted"><small>Herald v<span app-version></span></small></p>
      </address>
    </section>

    <!-- Automatic includes of project dependencies -->
    <% @deps.each do |file| %>
    <script type="text/javascript" src="<%= file %>"></script><% end %>

    <!-- Automatic includes of project files -->
    <% @files.each do |file| %>
    <script type="text/javascript" src="<%= file %>"></script><% end %>
  </body>
</html>